body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: auto;
}

.main-content {
    text-align: center !important;
    margin: 1em;
    padding-bottom: 50px;
}

nav {
    background: #722929;
    padding: 0.5em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: small;
    font-family: Tahoma, Geneva, sans-serif;
    color: #778899;
    background-color: #722929;
    text-align: center;
}